<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Menu</title>
</head>
<body>
    <h1>TicketNFT Main Menu</h1>
    <ul>
        <li><a href="/mint">Mint Ticket</a></li>
        <li><a href="/tickets">View My Tickets</a></li>
        <li><a href="/use">Use Ticket</a></li>
        <li><a href="/cancel">Cancel Ticket</a></li>
        <li><a href="/status">Check Ticket Status</a></li>
        <li><a href="/info">Get Ticket Info</a></li>
        <li><a href="/transfer">Transfer Ticket</a></li>
    </ul>
</body>
</html>
